.tools {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 640px;
      margin: 0 auto;
      .skill {
        background: $foreground-color--dark;
        width: 80px;
        height: 64px;
        margin: 1rem 0.75rem;
        padding: 2rem;
        border: 1px solid $border-color--light;
        border-radius: 4px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin-bottom: 0;
          font-weight: bold;
          white-space: nowrap;
          color: $foreground-color--light;
        }
        svg {
          fill: $foreground-color--light;
        }
        &:hover {
          border-color: black;
          cursor: pointer;
        }
      }
    }
  }
  .scroller {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  @include screen($tablet) {
    h2 {
      font-size: 4rem;
    }
    .info {
      padding: 2rem;
      .skills {
        .skill {
          margin: 0 1rem 2.5rem;
        }
      }
    }
    .scroller {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  @include screen($laptop) {
    .info {
      .skills {
        max-width: 700px;
      }
    }
  }
  @include screen($desktop) {
    .info {
      .skills {
        .skill {
          width: 120px;
          height: 100px;
        }
      }
    }
  }
}

body.dark-theme {
  .tools {
    .info {
      .skills {
        .skill {
          background: $foreground-color--light;
          p {
            color: $foreground-color--dark;
          }
          svg {
            fill: $primary-color--dark;
          }
          &:hover {
            border-color: white;
          }
        }
      }
    }
  }
}
