.hero {
  position: relative;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid $border-color--light;
  .intro {
    text-align: right;
    margin-top: -5rem;
    padding-right: 1rem;
  }
  h1,
  h2,
  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  .scroller {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
  @include screen($tablet) {
    align-items: center;
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.25rem;
      padding-right: 0.15rem;
    }
    .scroller {
      bottom: 96px;
    }
  }
  @include screen($laptop) {
    height: calc(100vh - 36px - 40px);
    .intro {
      margin-top: -9rem;
    }
  }
}

body.dark-theme {
  .hero {
    border-color: $foreground-color--light;
  }
}
