#hero {
  position: relative;
  margin-top: 3rem;
  border-top: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
  .profile {
    margin-top: 1em;
    .heading {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
    @include screen($tablet) {
      img {
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
  .quote {
    @include screen($tablet) {
      font-size: 1.2em;
    }
  }
  .info-grid{
    padding: 1em 0;
    margin: 0 auto;
    .subtitle {
      font-weight: 700;
      padding-bottom: 1em;
      .icon {
        display: block;
        padding-top: 0.5em;
      }
    }
    .left {
      padding-right: 0.5em;
    }
    .right {
      padding-left: 0.5em;
    }
    @include screen($tablet) {
      padding-bottom: 0;
      .subtitle {
        font-size: 1.4em;
        font-weight: 500;
        .icon {
          display: inline;
          padding-top: 0;
        }
      }
      .left {
        padding-right: 2em;
      }
      .right {
        padding-left: 2em;
      }
    }
  }
  @include screen($laptop) {
    padding-bottom: 3rem;
    .info-grid {
      padding: 1em 0 3em;
    }
  }
}

body.dark-theme {
  #hero {
    border-color: $text-color--dark;
  }
}
