footer {
  background: $background-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  height: 100%;
  max-height: 40px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    @extend .button;
    padding-left: .25rem;
    padding-right: .25rem;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .built-with, .banner {
    font-weight: 700;
    padding-left: 1rem;
    display: none;
  }
  .banner {
    svg {
      padding-left: 0.5rem;
      vertical-align: bottom;
    }
  }
  .icon {
    padding: 0 .5rem;
    padding-top: .35rem;
    padding-bottom: .05rem;
    &:hover {
      padding-top: .1rem;
      padding-bottom: .2rem;
    }
  }
  @include screen($laptop) {
    justify-content: space-between;
    font-size: 1.05rem;
    .built-with, .banner {
      display: block;
    }
    .banner {
      padding-left: 2.5rem;
    }
  }
}

body.dark-theme {
  footer {
    background: $nav-color--dark;
    border-top: none;
  }
}
