#cta {
  border-bottom: 1px solid $border-color;
  margin-bottom: 3rem;
  padding-top: 2rem;
  .call-to-action {
    margin-bottom: 2.5rem;
    h2 {
      margin-top: 0.5rem;
      font-size: 2.5rem;
    }
    p {
      padding-bottom: 16px;
    }
    a {
      display: block;
      padding: 8px 16px;
      width: 100%;
      max-width: 196px;
      font-size: 22px;
      border-radius: 6px;
      text-decoration: none;
      margin: 24px auto;
      position: relative;
      svg {
        vertical-align: middle;
        margin-top: -4px;
        margin-left: 4px;
      }
    }
    @include screen($tablet) {
      a {
        display: inline-block;
        padding: 8px 32px;
        margin: 0 16px;
      }
    }
  }
}

body.dark-theme {
  #cta {
    border-color: $text-color;
    .call-to-action {
      a {
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
