#cta {
  border-bottom: 1px solid $border-color--light;
  margin-bottom: 3rem;
  padding: 2rem 2rem 5rem;
  .call-to-action {
    margin-bottom: 2.5rem;
    h2 {
      margin-top: 0.5rem;
      font-size: 2rem;
    }
    p {
      padding-bottom: 24px;
    }
    a {
      display: block;
      padding: 8px 16px;
      width: 100%;
      max-width: 180px;
      font-size: 22px;
      border-radius: 6px;
      text-decoration: none;
      margin: 24px auto;
      position: relative;
      svg {
        vertical-align: middle;
        margin-top: -4px;
        margin-left: 4px;
      }
    }
  }
  @include screen($tablet) {
    padding-left: unset;
    padding-right: unset;
    margin-bottom: 4rem;
    .call-to-action {
      h2 {
        font-size: 4rem;
      }
      a {
        display: inline-block;
        padding: 8px 32px;
        margin: 0 24px;
      }
    }
  }
  @include screen($laptop) {
    margin-bottom: 3rem;
  }
}

body.dark-theme {
  #cta {
    border-color: $foreground-color--dark;
    .call-to-action {
      a {
        &:hover {
          color: $primary-color--dark;
        }
      }
    }
  }
}
