// antialias
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  background: $background-color--light;
  color: $foreground-color--light;
  text-align: center;
  overscroll-behavior: none;
}
section {
  padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
  color: $foreground-color--light;
  margin-top: 0;
  margin-bottom: 0;
  &.heading {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

.loading {
  position: absolute;
  top: 33.33%;
  left: 0;
  right: 0;
  z-index: -1;
  h1 {
    font-size: 4rem;
  }
}

.scroller {
  margin: 0 auto;
  text-align: center;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
  @keyframes pulse {
    50% {
      opacity: 0.1;
    }
  }
}

.special {
  cursor: pointer;
  color: $foreground-color--light;
  font-weight: bold;
  background-color: $link-color--light;
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bordered {
  border: 1px solid transparent;
  &:hover {
    border-color: black;
  }
}

.text-right {
  text-align: right;
}

@include screen($tablet) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}

a {
  color: $link-color--light;
  text-decoration: none;
  &:hover {
    color: $foreground-color--light;
  }
}

body.dark-theme {
  background: $background-color--dark;
  color: $foreground-color--dark;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $foreground-color--dark;
  }
  a {
    color: $link-color--dark;
  }
  .special {
    color: $link-color--light;
    background-color: $foreground-color--light;
  }
  .bordered:hover {
    border-color: white;
  }
}
