.button {
  color: $foreground-color--light;
  background: $button-color--light;
  text-decoration: none;
  &:hover {
    color: $secondary-color--light;
  }
}

body.dark-theme {
  .button {
    color: $foreground-color--dark;
    &:hover {
      color: $secondary-color--dark;
    }
  }
}
