$background-color: #ffffff;
$foreground-color: #f9f9f9;
$nav-color: #ffffff;
$text-color: #363e45;
$border-color: rgba(0, 0, 0, 0.1);

// dark theme
$background-color--dark: #1a1a1a;
$foreground-color--dark: #333333;
$nav-color--dark: #1a1a1a;
$text-color--dark: #ffffff;

// blue
$primary-color: #62d8c2;
$secondary-color: $primary-color;

// links
$link-color: $primary-color;
$link-color--dark: $primary-color;

// components
$button-color: none;
